/* Resetear los márgenes y paddings por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    /* Color de fondo general */
    color: #333;
    line-height: 1.6;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 0px;
    text-align: center;
    background-image: url(/img/Fondo.jpg);
    background-size: cover;
    background-position-y: 75%;
}

header .logo h1 {
    font-size: 2rem;
    margin-bottom: 5px;
    background-color: #333;
}
.logo img{
    filter:drop-shadow(2px 2px 1px darkblue);
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #333;
    padding: 10px;
    align-items: center;
    font-size: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

nav ul li a:hover {
    color: #f7ca18;
}

/* Menú desplegable */
.menu {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #f7ca18;
    width: 180px;
    padding-left: 20px;
    z-index: 100;
}

.menu:hover .submenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.submenu a:hover {
    color: #333;
}

/* Sección de equipos */
.contenedor-equipos {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoEquipos {
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    justify-content: center;
}

.Equipos {
    width: 400px;
    margin: 10px;
    background-color: #b1afaf;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Equipos span{
    font-weight: bold;
}
.Equipos h4 {
    font-size: 1.4rem;
    margin-top: 5px;
}

.Equipos p {
    margin-top: 5px;
}

.escudo {
    padding: 10px;
    height: 150px;
    width: 160px;
    border-style: solid;
    border-width: 3px;
    background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgba(95,95,110,1) 65%, rgba(51,51,51,1) 100%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.escudo img {
    height: 120px;
    filter:drop-shadow(0px 0px 5px black);
}


/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer p {
    margin-bottom: 10px;
}

footer .social-media {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .social-media li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

footer .social-media li a:hover {
    color: #f7ca18;
}

.formulario {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
   
}

form {
    padding: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    border-top: 10%;
    width: 600px;
    height: 800px;
    align-items: center;
    font-size: 20px;

}
input{
    width: 400px;
    height: 50px;
    font-size: 20px;
    padding:0px 10px;
  

}
.mensaje{
    height: 300px;
    width: 400px;
    font-size: 20px;
    padding: 10px;
}
.error{
    color: #f7ca18;
}
.registro{
    width: 600px;

}
.registro p{
   padding: 10px;
}

@media (max-width:1300px){
    .infoEquipos{
        width: 850px;
    }
}
@media (max-width:800px){
    .infoEquipos{
        width: 600px;
    }
}

/*Carrousel*/
.contenedor {
    background-color:white;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.carrouselcont{
    width: 900px;
    height: 250px;
    position: relative;
}

.carrousel-arrow{
    width: 900px;
    height: 250px;
    position: absolute;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carrousel {
    background-color:#333;
    width: 900px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 10;
    border-radius: 15px;
}

.move:hover{
    background-color: rgba(190, 190, 190, 0.664);
}

.move {
    height: 100px;
    background-color: rgba(150, 150, 150, 0.5);
    border-radius: 15px;
}

.item {
    height: 200px;
    border-radius:30px;
    border-style:outset;
    border-width: 5px;
}
.item-selected {
    height: 240px;
    border-radius: 50px;
    border-style:outset;
    border-width: 5px;
}
