/* Resetear los márgenes y paddings por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Color de fondo general */
    color: #333;
    line-height: 1.6;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f7ca18;
}


/* Sección de equipos */
.contenedor-equipos {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Equipos{
    width: 400px;
    margin: 10px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.Equipos h4 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.Equipos p {
    margin-top: 10px;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer p {
    margin-bottom: 10px;
}

footer .social-media {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .social-media li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

footer .social-media li a:hover {
    color: #f7ca18;
}
.Equipos{
    background-color: #b1afaf;
}

.formulario{
    display: flex;
    justify-content: center;
}
form{
    padding: 50px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 300px;
    border-top: 10%;
    
}

.escudo{
    height: 160px;
    width: 160px;
    border-style: solid;
    border-width: 3px;
    background-color: #333;
}

div.escudo img{
    height: 150px;

}

.infoEquipos{
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    justify-content:center;
}